extends layout

block head
  script(type='text/javascript').
    const scale = #{scale};
  script(src='/javascripts/utils/math.js')
  script(src='/javascripts/utils/image_handler.js')
  script(src='/javascripts/item_system/consumable.js')
  script(src='/javascripts/item_system/drop.js')
  style.
    #stack {
    position:relative;
    vertical-align: middle;
    }
    #stack > canvas {
    position:absolute;
    left:0;
    top:0;
    width: #{width}px;
    height: #{height}px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    }

block content
  #stack
    canvas#game_canvas(width=width/scale height=height/scale)
    canvas#effect_canvas(width=width/scale height=height/scale)
    canvas#fog_of_war_canvas(width=width/scale height=height/scale)
    canvas#hud_canvas(width=width/scale height=height/scale)
  script(src='/javascripts/actors/actor.js')
  script(src='/javascripts/item_system/skills.js')
  script(src='/javascripts/actors/monster.js')
  script(src='/javascripts/actors/player.js')
  script(src='/javascripts/game/world.js')
  script(src='/javascripts/game/game.js')
  script(src='/javascripts/game/controls.js')
  script(type='text/javascript').
    init();
